@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Serif Display", serif;
}

main{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
  height: 100vh;
}

header{
  margin-bottom: 5rem;
}

.main-h1{
  font-size: 62px;
  text-align: center;
  margin: 0 auto;
}

form{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.input-form{
  width: 300px;
  height: 40px;
  font-size: 20px;
  text-indent: 10px;
}

.input-btn{
  cursor: pointer;
  font-size: 18px;
  width: 200px;
}

.weather-container{
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
}

.weather-information{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7rem;
}

.weather-h2{
  margin: 2rem auto;
  font-size: 46px;
  text-align: center;
}

.card{
  text-align: center;
  display: flex;
  flex-direction: column;
}

h3{
  margin: 2rem auto;
}